<head>/
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="css/screen.css">

</head>

<body>
<div id="wrap">

	<a name="top"></a>

	<!-- header -->
	<div id="header">

		<h1 id="logo-text"><a href="index.html" title="">AGNOSPORT24</a></h1>
		<p id="intro">The definitive sports Blog</p>

		<!-- navigation -->
		<div  id="nav">
			<ul>
				<li id="current"><a href="index.html">Home</a></li>
				<li><a href="traccia2.pdf" target="blank" download=traccia2.pdf> DownloadFile</a></li>
				</ul>
		</div>

		<!-- drop down menù -->
		<div id="hormenu">
			<ul>
				<li>
					<a href="index.html">All the articles of AGNOSPORT24</a>
							<ul>
							<li><a href="articolo2.html">Pro14, Zebre Rugby: the incredible drop scored by Guglielmo Palazzani</a></li>
							<li><a href="articolo3.html">The slow restart of swimming. Martinenghi returns to the water in Milan</a></li>
							<li><a href="articolo4.html">MotoGP out of the lockdown: tests, calendar and engines in 2020</a></li>
							</ul>
							</li>
						</div>
	</div>
	<!-- header ends -->



			<h2><a href="index.html">All the articles of AGNOSPORT24</a></h2>
<!-- columns starts -->
			<div class="columns">

				<div class="col">
					<h3> <a href="articolo2.html" target ="_blank">Pro14, Zebre Rugby: the incredible drop scored by Guglielmo Palazzani</a></h3>
					<p>
						Guglielmo Palazzani and that drop "around" that you do not expect. The official Twitter profile of Pro14 reports the video of the incredible football scored by the scrum half of the Zebras and the national team.
						He too, like his companions of the multicolor franchise.... </p>
					</p>
					<p><a class="more-link" href="articolo2.html" target ="_blank">continue reading</a></p>
				</div>

				<div class="col">
					<h3> <a href="articolo3.html" target ="_blank">The slow restart of swimming. Martinenghi returns to the water in Milan</a></h3>
					<p>
				It is a slow, very slow restart. The snapshot of Italian swimming is this: closed swimming pools,
				many emptied pools and the total discomfort of the entire aquatic sector. The management
				 costs of a swimming pool are traditionally already high, including water pumps, electrical absorptions, filter washes,
				 if we now add the costs to prepare the prevention and sanitation tools, required by the guidelines of
				 the Ministry of Sport, the result looks bleak. In all of Italy you can swim in less than 10 pools,
				 with the depressing prospect that some may not even reopen again. Without the large numbers of basic activities,
				  i.e. swimming courses and schools, it is not possible to keep the systems running, the necessary funds are lacking...
					</p>
					<p><a class="more-link" href="articolo3.html" target="_blank">continue reading</a></p>
				</div>

				<div class="col">
					<h3> <a href="articolo4.html" target ="_blank">MotoGP out of the lockdown: tests, calendar and engines in 2020 </a></h3>
					<p>
				For a few days now, the riders on the bikes have been seeing each other on social networks, Carmelo Ezpeleta has unofficially
				launched the first date of the 2020 MotoGP championship. After two months of lockdown and hopes that seemed to fade,
				the return to a pseudo normality is pending. a vaccine that ends the Coronavirus nightmare.
				And as the days go by the Dorna program becomes clearer...
					</p>
					<p><a class="more-link" href="articolo4.html" target="_blank">continue reading</a></p>
				</div>

			<!-- columns ends -->
			</div>
		</div>
	<!-- content ends -->
	</div></div>

	<!-- footer starts -->
	<div id="footer-outer" class="clear"><div id="footer-wrap">

		<div class="content">

			<!-- columns starts -->
			<div class="columns">

				<div class="col">

					<h3>Image Gallery </h3>
					<p class="thumbs">
						<a href="articolo2.html"><img src="images/zebre.png" width="300" height="300" /></a>
						<a href="articolo3.html"><img src="images/Martinenghi.png" width="300" height="300" /></a>
						<a href="articolo4.html"><img src="images/motogp.png" width="300" height="300" /></a>
					</p>

					<h3>About Me</h3>
					<p>
					<img src="images/angelo.png" width="300" height="300" class="float-right" />
						I am a boy from Romagna who studies Engineering and Computer Science in Cesena. This is a project for the Network Programming exam!
					</p><a href="https://www.facebook.com/angelo.parrinello.9" target ="_blank">Learn more...</a>


				</div>

				<div class="col">


					<h3>Search</h3>


					<input id="searchbar" onkeyup="search_articles()" type="text" name="search" placeholder="Search Article...">
					<ol id='list'>
						<li class="article"> <a href="articolo2.html">Pro 14, Zebre...</a></li>
						<li class="article"> <a href="articolo3.html">The slow restarting...</a></li>
						<li class="article"> <a href="articolo4.html"> MotoGP out of...</a></li>
					</ol>

					<script src="javascripts/articles.js"></script>

				</div>

	<div id="footer-bottom">
		<p>
			<a href="index.html">Home</a> |
         <a href="#top">Top</a>
		</p>
	</div>

<!-- wrap ends -->
</div>
</body>
</html>
